/**
================================
CREATE TICKETS
================================ */
#CreateTicketArea form {
    /* max-width: 400px; */
    width: 100%;
    max-width: 768px;
}

#CreateTicketArea form textarea {
    width: 100%;
    display: inline-block;
}

#CreateTicketArea input, #CreateTicketArea select, #CreateTicketArea textarea {
    margin-bottom: 7px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

#CreateTicketArea input[type=text], #CreateTicketArea input[type=email] {
    height: 29px;
}

#CreateTicketArea table tr td:first-child {
    vertical-align: top;
}

#CreateTicketArea input.error, #CreateTicketArea select.error, #CreateTicketArea textarea.error {
    margin-bottom: 0;
}

#CreateTicketArea input + .error, #CreateTicketArea textarea + .error {
    color: red;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin: 0;
    margin-left: 6px;
    margin-bottom: 10px;
    line-height: 1;
}

/**
================================
ALL TICKETS
================================ */
#TicketsIndexArea {
}

#TicketsIndexArea table {
    font-size: 12px;
    width: 100%;
}

#TicketsIndexArea table tr {
}

#TicketsIndexArea table tr th, #TicketsIndexArea table tr td {
    padding: 5px 10px;
    text-align: left;
}

#TicketsIndexArea table tr th {
    background-color: #e0f1f0;
}

#TicketsIndexArea table tr td.ticket-sender * {
    display: inline-block;
    word-wrap: break-word;
}

#TicketsIndexArea table tr td a {
    text-decoration: underline;
}

#TicketsIndexArea table tr td a:hover {
    text-decoration: none;
}

#TicketsIndexArea table tr td .ticket-details {
    /* min-width: 200px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 170px;
}

.status-pending, .status-in_progress, .status-unresolved, .status-resolved {
    display: inline-block;
    color: #fff;
    padding: 1px 6px;
    border-radius: 2px;
    font-family: Menlo, DejaVu Sans Mono, Consolas, monospace;
    font-size: 11px;
}

/**
================================
TICKET STATUSES
================================ */
.status-pending {
    background-color: #bd4a4a;
}

.status-in_progress {
    background-color: #e2cca6;
}

.status-unresolved {
    background-color: #cccccc;
    color: #ffffff;
}

.status-resolved {
    background-color: #b8d8b0;
}

.btn.status-pending {
    background-color: #bd4a4a;
}

.btn.status-in_progress {
    background-color: #ce993f;
}

.btn.status-unresolved {
    background-color: #888888;
}

.btn.status-resolved {
    background-color: #75ca60;
}

/**
================================
TICKET DETAILS AREA
================================ */
#TicketDetailsArea {
}

#TicketDetailsArea table {
    text-align: left;
}

#TicketDetailsArea table tr td {
    padding: 4px 14px 4px 0;
}

#TicketDetailsArea .ticket-information {
    font-size: 11px;
    font-family: Menlo, Consolas, monospace;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    padding: 10px;
    display: inline-block;
    min-width: 240px;
    margin-bottom: 20px;
}

#TicketDetailsArea .ticket-details {
    margin-bottom: 10px;
    min-height: 130px;
    background-color: #fafafa;
    padding: 15px;
    /* font-size: 14px; */
    /* font-family: Menlo, DejaVu Sans Mono, Consolas, monospace; */
}

#TicketDetailsArea .ticket-comments {
    font-size: 12px;
}

#TicketDetailsArea .ticket-comments .ticket-comment-emptymessage {
    color: #8c8c8c;
}

#TicketDetailsArea .ticket-comments b {
    font-size: 14px;
}

#TicketDetailsArea textarea {
}

#TicketDetailsArea .comments {
    list-style: none;
    padding: 0;
    margin: 0;
}
#TicketDetailsArea .comments .comment {
    padding: 10px 10px;
    margin: 5px 0;
    background-color: #fbfbfb;
    border: 1px solid #efefef
}
#TicketDetailsArea .comments .comment .commenter {
    font-weight: bold;
    font-size: 11px;
}
#TicketDetailsArea .comments .comment .comment-details {
    display: inline-block;
    width: 100%;
    color: #6b6b6b;
    /* font-family: Menlo, DejaVu Sans Mono, Consolas, monospace; */
}


/**
================================
ADD COMMENT FORM
================================*/
#AddCommentForm table {
    width: 100%;
    max-width: 480px;
}

#AddCommentForm table tr {
    vertical-align: top;
}

#AddCommentForm  table tr:first-child input {
    display: inline-block;
    width: 100%;
}

#AddCommentForm  table tr td > textarea {
    display: inline-block;
    width: 100%;
}

#AddCommentForm table tr td input[type=submit] {
    margin-top: 20px;
}




