.validation-errors {
    color: red;
    max-width: 360px;
    background-color: #ececec;
    padding: 15px 10px 10px 10px;
    margin-bottom: 10px;
    border: 1px solid red;
}

.validation-errors ul li {
    font-size: 12px;
}
input + .error, textarea + .error {
    color: #f00;
    font-weight: normal;
    font-size: 12px;
}

label + .required {
    content: "*";
    color: #f00;
}