.dashboard-section {
    margin-bottom: 15px;
}
.dashboard-section .dashboard-section-body {
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 13px;
    background-color: #fafafa;
}

.ticket-subject {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}