/**
================================
TICKET STATUSES
================================ */
.status-pending {
    background-color: #bd4a4a;
}

.status-in_progress {
    background-color: #e2cca6;
}

.status-unresolved {
    background-color: #cccccc;
    color: #ffffff;
}

.status-resolved {
    background-color: #b8d8b0;
}

.btn.status-pending {
    background-color: #bd4a4a;
}

.btn.status-in_progress {
    background-color: #ce993f;
}

.btn.status-unresolved {
    background-color: #888888;
}

.btn.status-resolved {
    background-color: #75ca60;
}