.register-form {
}

.register-form table {
    font-family: Arial, Helvetica, sans-serif;
}

.register-form table tr {
}

.register-form table tr td {
    padding: 2px 0;
}

.register-form table tr td:first-child {
    padding-right: 10px;
    text-align: right;
}

.register-form table tr td:last-child {
}

.register-form .apply-as-tech td,
.register-form .form-submission-row td {
    text-align: left !important;
}

.register-form .apply-as-tech td {
    padding: 10px 0;
}

