.ticket-list {
}

.ticket-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ticket-list ul li {
}

.ticket-list .ticket {
    position: relative;
    border: 1px solid #f7f7f7;
    font-size: 12px;
    padding: 10px 10px 10px 68px;
    margin-bottom: 3px;
    color: #757575;
    background-color: #fbfbfb;
}

.ticket-list .ticket:hover {
    background-color: #ececec;
}

.ticket-list .ticket.ticket-pending {
    border: 1px solid #e4e4e4;
    border-left: 4px solid #e44c4c;
}

.ticket-list .ticket .ticket-icon {
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: orange;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ticket-list .ticket .ticket-subject {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: #4a4a4a;
}

.ticket-list .ticket .ticket-user {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
    font-size: 11px;
}

.ticket-list .ticket .ticket-created_at {
    font-size: 10px;
}

.ticket-list .ticket .ticket-status {
    font-size: 11px;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #e44c4c;
    padding: 3px 10px;
    color: #fff;
    vertical-align: top;
}

/** for Tickets table (src/containers/Dashboard/Tickets.js) **/
.tickets-table {
    width: 100%;
}

.tickets-table td:last-child {
    width: 110px;
}

.tickets-table td:first-child {
    width: 60px;
}